// State
.is-cart-hidden{
    visibility: hidden;
}
.is-item-added{
    animation: is-item-added 250ms linear;
    animation-iteration-count: 1;
}

@keyframes is-item-added {
    0%, 50%{
        background-color: complement(rgba($red, .25));
        opacity: .45;
        height: 0;
        overflow: hidden;

    }
    100%{
        background-color: transparent;
        opacity: 1;
        height: auto;
    }
}