*, *::after, *::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	font-family: Circular, sans-serif; 
    -webkit-tap-highlight-color: $gray;
}
::-moz-selection { 	
	color: $white;
	background: $black;
}
::selection {
	color: $white;
	background: $black;
}